{% extends 'base.html' %}
{% load social_tags %}

{% block content %}


    <!-- Categories Section Begin -->

        <div class="categories__post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        {% for post in post_list reversed %}

                        {% if forloop.first %}

                                <div class="categories__post__item categories__post__item--large">
                                <div class="categories__post__item__pic set-bg"
                                    data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.create_at|date:'d' }}</h4>
                                        <span>{{ post.create_at|date:'M' }}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <ul class="post__label--large">
                                        <li>{{ post.category }}</li>
                                    </ul>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <ul class="post__widget">
                                        <li>от <span>{{ post.author }}</span></li>
                                    </ul>
                                    <p>{{ post.text|safe|slice:':250'}}...</p>
                                    <a href="{{ post.get_absolute_url }}" class="primary-btn">Читать продолжение</a>
                                </div>
                            </div>
                            <div class="row">

                        {% else %}

                                {% if not forloop.counter|divisibleby:"2" %}

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="categories__post__item">
                                        <div class="categories__post__item__pic smaller__large set-bg"
                                            data-setbg="{{ post.image.url }}">
                                            <div class="post__meta">
                                                <h4>{{ post.create_at|date:'d' }}</h4>
                                                <span>{{ post.create_at|date:'M' }}</span>
                                            </div>
                                        </div>
                                        <div class="categories__post__item__text">
                                            <span class="post__label">{{ post.category }}</span>
                                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                            <ul class="post__widget">
                                                <li>от <span>{{ post.author }}</span></li>

                                            </ul>
                                            <p>{{ post.text|safe|slice:':250'}}...</p>
                                            <a href="{{ post.get_absolute_url }}" class="primary-btn">Читать продолжение</a>
                                        </div>
                                    </div>
                                </div>

                                {% endif %}

                                {% if forloop.counter|divisibleby:"2" %}

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="categories__post__item">
                                        <div class="categories__post__item__pic smaller__large set-bg"
                                            data-setbg="{{ post.image.url }}">
                                            <div class="post__meta">
                                                <h4>{{ post.create_at|date:'d' }}</h4>
                                                <span>{{ post.create_at|date:'M' }}</span>
                                            </div>
                                        </div>
                                        <div class="categories__post__item__text">
                                            <span class="post__label">{{ post.category}}</span>
                                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                            </h3>
                                            <ul class="post__widget">
                                                <li>от <span>{{ post.author }}</span></li>

                                            </ul>
                                            <p>{{ post.text|safe|slice:':250'}}...</p>
                                            <a href="{{ post.get_absolute_url }}" class="primary-btn">Читать продолжение</a>
                                        </div>
                                    </div>
                                </div>

                                {% endif %}

                        {% endif %}

                        {% endfor %}
                            </div>
                    </div>
                    {% include 'atomy/include/sidebar.html' %}
            </div>
        </div>
        </div>
    </section>
    <!-- Categories Section End -->
{% endblock content %}